{% extends 'voter_analytics/base.html' %}

{% block content %}
  <h1>Voter Details for {{ voter.first_name }} {{ voter.last_name }}</h1>

  <p><strong>First Name:</strong> {{ voter.first_name }}</p>
  <p><strong>Last Name:</strong> {{ voter.last_name }}</p>
  <p><strong>Street Address:</strong> {{ voter.residential_address_street_number }} {{ voter.residential_address_street_name }}</p>
  <p><strong>Apartment Number:</strong> {{ voter.residential_address_apartment_number }}</p>
  <p><strong>Zip Code:</strong> {{ voter.residential_address_zip_code }}</p>
  <p><strong>Date of Birth:</strong> {{ voter.date_of_birth }}</p>
  <p><strong>Date of Registration:</strong> {{ voter.date_of_registration }}</p>
  <p><strong>Party Affiliation:</strong> {{ voter.party_affiliation }}</p>
  <p><strong>Precinct Number:</strong> {{ voter.precinct_number }}</p>
  <p><strong>Voter Score:</strong> {{ voter.voter_score }}</p>

  <h2>Election Participation</h2>
  <p><strong>2020 State Election:</strong> {{ voter.v20state }}</p>
  <p><strong>2021 Town Election:</strong> {{ voter.v21town }}</p>
  <p><strong>2021 Primary Election:</strong> {{ voter.v21primary }}</p>
  <p><strong>2022 General Election:</strong> {{ voter.v22general }}</p>
  <p><strong>2023 Town Election:</strong> {{ voter.v23town }}</p>

  <h3>Location</h3>
  <p>
    <a href="https://www.google.com/maps/search/?api=1&query={{ voter.residential_address_street_number }}+{{ voter.residential_address_street_name }}+{{ voter.residential_address_zip_code }}" target="_blank">
      View on Google Maps
    </a>
  </p>

  <hr>
  <p><a href="{% url 'voters' %}">Back to Voter List</a></p>
{% endblock %}