{% load static %}
<html>
    <head>
        <title>Our Blog</title>
        <link rel="stylesheet" href="{% static 'styles-blog.css' %}">
    </head>
    <body>

    <nav>
        <ul>
            <!-- use the scriptlet URL function to look up a URL by name -->
            <a href="{% url 'show_all' %}">Show All</a>
            <a href="{% url 'random' %}">Random</a>
            <a href="{% url 'create_article' %}">Create Article</a> 
        </ul>
    </nav>

    {% block content %}
    <!-- put the interesting (specific stuff) here -->
    {% endblock %}

    </body>
</html>