{% load static %}
<html>
    <head>
        <title>Our Blog</title>
        <link rel="stylesheet" href="{% static 'styles-blog.css' %}">
    </head>
    <body>

    <nav>
        <ul>
            <!-- use the scriptlet URL function to look up a URL by name -->
            <a href="{% url 'show_all' %}">Show All</a>
            <a href="{% url 'random' %}">Random</a>
            <a href="{% url 'create_article' %}">Create Article</a> 
        </ul>
        <p>
            {% if request.user.is_authenticated %}
                Logged in user: {{ request.user }}.
                {% else %}
                Not logged in.
            {% endif %}
        </p>
    </nav>

    {% block content %}
    <!-- put the interesting (specific stuff) here -->
    {% endblock %}

    </body>
</html>