{% load static %}
<html>
    <head>
        <title>Mini Facebook</title>
        <link rel="stylesheet" href="/static/hw5Styles.css">
    </head>
    <body>
        <nav class="navbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="">Show All</a></li>
            </ul>
        </nav>
        <header>
            <h1>Mini Facebook</h1>
        </header>

        
    
    {% block content %}
    {% endblock %}    

    <footer>
        <h1>End of Profiles</h1>
    </footer>
  
    </body>
</html>
