<head>
    <title>Create Status Message</title>   
</head>

{% extends 'mini_fb/base.html' %}
{% block content %}
<div>
    <h1>Post a new status message</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <!-- Display form fields with labels -->
        <div>
            <label for="id_message">Status Message:</label>
            {{ form.message }}
        </div>
        
        <!-- Submit button -->
        <div>
            <input type="submit" value="Create Status Message">
        </div>
    </form>
</div>
{% endblock %}