<head>
    <title>Create Profile</title>   
</head>

{% extends 'mini_fb/base.html' %}
{% block content %}
<div>
    <h1>Create New Profile</h1>
    <form action="" method="POST">
        {% csrf_token %}
        
        <!-- Display form fields with labels from CreateProfileForm -->
        <div>
            <label for="id_first_name">First Name:</label>
            {{ form.firstName }}
        </div>
        <div>
            <label for="id_last_name">Last Name:</label>
            {{ form.lastName }}
        </div>
        <div>
            <label for="id_city">City:</label>
            {{ form.city }}
        </div>
        <div>
            <label for="id_email">Email:</label>
            {{ form.emailAddr }}
        </div>
        <div>
            <label for="id_imageURL">Profile Image URL:</label>
            {{ form.ProfileImg }}
        </div>
        
        <!-- Display form fields from UserCreationForm for user account creation -->
        <h2>User Account Information</h2>
        <div>
            <label for="id_username">Username:</label>
            {{ user_creation_form.username }}
        </div>
        <div>
            <label for="id_password1">Password:</label>
            {{ user_creation_form.password1 }}
        </div>
        <div>
            <label for="id_password2">Confirm Password:</label>
            {{ user_creation_form.password2 }}
        </div>

        <!-- Submit button -->
        <div>
            <input type="submit" value="Create Profile">
        </div>
    </form>
</div>
{% endblock %}