{% extends 'mini_fb/base.html' %}

{% block content %}
<main class="grid-container">
    <div style="display: flex; justify-content: center; gap: 10px;">
        <form action="{% url 'create_status' profile.pk %}" method="get">
            <button type="submit" class="button">Create Status Message</button>
        </form>
        <form action="{% url 'update_profile' profile.pk %}" method="get">
            <button type="submit" class="button">Update Profile</button>
        </form>
    </div>
    <article class="featured">
        <img class="profile-img" src="{{ profile.ProfileImg }}" alt="{{ profile.image_url }}">
        <div>
            <h2>{{ profile.firstName }} {{ profile.lastName }}</h2>
            <strong>From: {{ profile.city }}</strong><br>
            <strong>Email Address: {{ profile.emailAddr }}</strong>
        </div>
    </article>

    <div>
        <h2>Status Messages:</h2>
        {% for p in profile.get_statusMessages %}
        <article>
            <div>
                <strong>"{{ p.message }}", at {{ p.timestamp }}</strong>
                <a class="button" href="{% url 'delete_status' p.pk %}" style="font-size: 0.8em; padding: 5px 10px;">Delete</a>
                <a class="button" href="{% url 'update_status' p.pk %}" style="font-size: 0.8em; padding: 5px 10px;">Update</a>
                {% if p.get_images %}
                    <div>
                        
                        {% for img in p.get_images %}
                        <img src="{{ img.image_file.url }}" alt="Image for status message" style="max-width: 200px; max-height: 200px;">
                        {% endfor %}
                    </div>
                {% endif %}
            </div><br><br>
        </article>
        {% empty %}
        <p>No status messages to display.</p> 
        {% endfor %}
    </div>
</main>
{% endblock %}