{% extends 'mini_fb/base.html' %}
{% block content %}

<main class="grid-container">
    {% for p in profiles %}
    <article>
        <div>
            <a href="{% url 'profile' p.pk %}">
                <h2>{{p.firstName}} {{p.lastName}}</h2>
            </a>
            {% if p.ProfileImg %}
            <a href="{% url 'profile' p.pk %}">
                <img src="{{p.ProfileImg}}" alt="{{p.ProfileImg}}" height="500" width="500">
            </a>
            
            {% endif %} <br>
            <h3>Location: <strong>{{p.city}}</strong> <br>
            Email: <strong>{{p.emailAddr}}</strong></h3> 
            
        </div>
    </article>
    {% endfor %}
</main>
{% endblock %}