/* General styling, this whole file is a mess but if it aint broke.. */
body {
    background: #594F4F;
    color: #9DE0AD;
    font-family: 'Anuphan';
    font-weight: 100;
}
input[type="text"], textarea {
    font-family: "Anuphan"
}
select {
    font-family: "Anuphan";
}
header {
    color: #E5FCC2;
    background: #45ADA8;
    justify-content: center;
    display: flex;
    padding: 0;
}
a {
    text-decoration: none;
    color: #FDFDFD;
}
a:hover {
    color: #E5FCC2;
}
.reviewer-edit {
    text-decoration: none;
    color: #FDFDFD;
}
.reviewer-edit:hover {
    color: #45ADA8;
}
.reviewer-edit-movie {
    text-decoration: none;
    color: #FDFDFD;
}
.reviewer-edit-movie:hover {
    color: #547980;
}
.reviewer-text {
    color: #45ADA8;
}
.black-text {
    color: #333333;
}
.movie-edit {
    text-decoration: none;
    color: #FDFDFD;
}
.movie-edit:hover {
    color: #E5FCC2;
}

/* Navbar styling */
.navbar {
    border-top: 10px solid #594F4F;
    background-color: #E5FCC2;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item {
    margin: 0 1rem;
    color: #594F4F;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-between;
}
.nav-item a {
    text-decoration: none;
    color: #547980;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}
.nav-item a:hover {
    color: #45ADA8;
}

/* showAllMovies page styling */
.all-movies {
    color: #E5FCC2;
}
.grid-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.movies-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}
.movies-entry {
    background-color: #E5FCC2;
    padding: 15px;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 5px solid #9DE0AD;
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.2);
}
.movies-entry img {
    display: block;
    margin: 0 auto 10px;
}
.movies-entry h2 {
    margin: 10px 0;
    font-size: 18px;
    color: #594F4F;
}
.movies-entry h3 {
    font-size: 14px;
    color: #594F4F;
}
.movies-poster {
    width: 250px;
    height: 250px;
    object-fit: cover; 
    display: block;
    margin: 0 auto 10px; 
    border: 5px solid #9DE0AD; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* showAllReviewers page styling */
.all-reviewers {
    color: #45ADA8;
}
.reviewers-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}
.reviewers-entry {
    background-color: #45ADA8;
    padding: 15px;
    border-radius: 8px; 
    border: 5px solid #2f7572;
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.reviewers-entry img {
    display: block;
    margin: 0 auto 10px;
}
.reviewers-entry h2 {
    margin: 10px 0;
    font-size: 18px;
    color: #594F4F;
}
.reviewers-entry h3 {
    font-size: 14px;
    color: #594F4F;
}
.reviewers-pfp {
    width: 200px;
    height: 200px;
    object-fit: cover; 
    display: block;
    margin: 0 auto 10px;
    border: 5px solid #2f7572; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* showAllReviews page styling */
.all-reviews {
    color: #547980;
}
.reviews-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}
.reviews-entry {
    background-color: #547980;
    padding: 15px;
    border-radius: 8px; 
    border: 5px solid #45ADA8;
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.reviews-entry img {
    display: block;
    margin: 0 auto 10px;
}
.reviews-entry h2 {
    margin: 10px 0;
    font-size: 18px;
    color: #594F4F;
}
.reviews-entry h3 {
    text-align: center;
    font-size: 14px;
    color: #594F4F;
}

/* ShowMovie page styling */
.movie-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.movie-details {
    display: flex;
    gap: 20px;
    align-items: center;
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #E5FCC2;
    color: #547980;
}
.poster-section {
    flex: 0 0 300px;
    text-align: center;
}
.poster-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
    border: 5px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.movie-title {
    background: #594F4F;
    padding: 5px;
    border-radius: 18px;
    font-size: 36px;
    margin-bottom: 10px;
    color: #E5FCC2;
}
.movie-rating {
    background: #594F4F;
    padding: 5px;
    border-radius: 12px;
    font-size: 18px;
    color: #E5FCC2;
}
.info-section {
    background: #594F4F;
    padding: 5;
    border-radius: 12px;
    flex: 1;
    font-size: 20px;
    line-height: 1.5;
    color: #E5FCC2;
}
.info-section p {
    margin: 20px 10;
}

/* ShowReviewer page styling */
.reviewer-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.reviewer-details {
    display: flex;
    gap: 20px;
    align-items: center;
    border: 2px solid white;
    padding: 20px;
    border-radius: 8px;
    background-color: #45ADA8;
}
.profile-section {
    flex: 0 0 300px; 
    text-align: center;
}
.profile-img {
    width: 100%; 
    height: auto;
    border-radius: 40px; 
    border: 5px solid #2f7572; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}
.reviewer-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #45ADA8;
}
.reviewer-rating {
    font-size: 18px;
    color: #45ADA8;
}
.info-section-r {
    background: #594F4F;
    padding: 5px;
    text-align: center;
    border-radius: 14px; 
    flex: 1;
    font-size: 16px;
    line-height: 1.5;
}
.info-section-r p {
    color: #45ADA8;
    margin: 10px 0;
}
.action-links-review a {
    color: #594F4F;
    text-decoration: none;
    margin-right: 10px;
}
.action-links-review a:hover {
    color: #FDFDFD;
}
.action-links-watchlist a {
    color: #594F4F;
    text-decoration: none;
    margin-right: 10px;
}
.action-links-watchlist a:hover {
    color: #FDFDFD;
}

/* Review and watchlist sections in showReviewer and showMovie, why'd I do this here dont ask me */
.reviews-section {
    border-top: 2px solid #E5FCC2;
    padding-top: 20px;
    color: #547980;
}
.review-entry {
    background-color: #547980;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #FDFDFD;
    border: 1px solid #FDFDFD; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}
.watchlist-section {
    border-top: 2px solid #547980;
    padding-top: 20px;
    color: #45ADA8;
}
.watchlist-entry {
    background-color: #45ADA8;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #FDFDFD;
    border: 1px solid #FDFDFD; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

/* createWatchlistForm page styling */
.container-watchlist-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
}
.form-watchlist-add {
    background: #E5FCC2;
    border: 3px solid #9DE0AD;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
.container-watchlist-add #id_movie {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #9DE0AD;
    border-radius: 4px;
    background-color: #9DE0AD;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s ease-in-out;
}
.container-watchlist-add #id_movie:focus {
    border-color: #7ab888;
    outline: none;
}
.btn-submit-watchlist-add {
    width: 100%;
    padding: 0.75rem;
    font-size: 1.2rem;
    color: #594F4F;
    background-color: #9DE0AD;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-top: 1rem;
}
.btn-submit-watchlist-add:hover {
    background-color: #7ab888;
}

/* createReviewForm page styling */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.form {
    background: #547980;
    border: 3px solid #45ADA8;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
.form-label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #333;
}
.form-container.create-review-form #id_movie, 
.form-container.create-review-form #id_review_message, 
.form-container.create-review-form #id_review_score {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #45ADA8;
    border-radius: 4px;
    background-color: #45ADA8;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s ease-in-out;
}
.form-container.create-review-form #id_movie:focus, 
.form-container.create-review-form #id_review_message:focus, 
.form-container.create-review-form #id_review_score:focus {
    border-color: #258682;
    outline: none;
}
.btn-submit {
    width: 100%;
    padding: 0.75rem;
    font-size: 1.2rem;
    color: #594F4F;
    background-color: #45ADA8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-top: 1rem;
}
.btn-submit:hover {
    background-color: #349c96;
}

/* createReviewerForm page styling */
.form-container.register-reviewer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-container.register-reviewer form {
    display: flex;
    flex-direction: column;
    max-width: 500px; 
    padding: 2rem;
    background-color: #45ADA8;
    border: 3px solid #2f7572;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.form-container.register-reviewer h2 {
    text-align: center;
    color: #FDFDFD; 
}
.form-container.register-reviewer div {
    margin-bottom: 1.5rem;
}
.form-container.register-reviewer label {
    font-size: 1.1rem;
    color: #333333; 
    margin-bottom: 0.5rem;
}
.form-container.register-reviewer input, 
.form-container.register-reviewer select {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 3px solid #2f7572;
    border-radius: 4px;
    background-color: #547980;
    transition: border-color 0.5s ease;
    color: #FDFDFD;
}
.form-container.register-reviewer input[type="submit"] {
    background-color: #547980;
    color: white;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    padding: 0.8rem;
    border-radius: 4px;
    transition: background-color 0.5s ease;
}
.form-container.register-reviewer input[type="submit"]:hover {
    background-color: #2f7572;
}
.form-container.register-reviewer input:focus, 
.form-container.register-reviewer select:focus {
    border-color: #2f7572;
    outline: none;
}
.form-container.register-reviewer input[type="file"] {
    display: none;
}
.form-container.register-reviewer .file-upload-btn {
    background-color: #547980;
    color: #FDFDFD;
    font-size: 1rem; 
    padding: 0.8rem 1.5rem; 
    border-radius: 4px; 
    cursor: pointer; 
    text-align: center;
    display: inline-block;
    transition: background-color 0.5s ease;
}
.form-container.register-reviewer .file-upload-btn:hover {
    background-color: #2f7572;
}
.form-container.register-reviewer .file-name {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #594F4F;
}

/* createMovieForm page styling */
.add-movie-container {
    width: 60%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #E5FCC2;
    border: 3px solid #2f7572;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.add-movie-container h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #547980;
}
.add-movie-container form div {
    margin-bottom: 1rem;
}
.add-movie-container label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #333;
    font-weight: bold;
}
.add-movie-container input[type="text"],
.add-movie-container input[type="date"],
.add-movie-container input[type="number"],
.add-movie-container select,
.add-movie-container textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #7ab888;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.2s;
}
.add-movie-container input[type="text"]:focus,
.add-movie-container input[type="date"]:focus,
.add-movie-container input[type="number"]:focus,
.add-movie-container select:focus,
.add-movie-container textarea:focus {
    border-color: #547980;
    outline: none;
}
.add-movie-container input[type="file"] {
    display: none;
}
.add-movie-container input[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    color: #fff;
    background-color: #547980;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-family: 'Anuphan';
}
.add-movie-container input[type="submit"]:hover {
    background-color: #2f7572;
}
.add-movie-container .file-upload-btn {
    background-color: #547980;
    color: #FDFDFD;
    font-size: 1rem; 
    padding: 0.8rem 1.5rem; 
    border-radius: 4px; 
    cursor: pointer; 
    text-align: center;
    display: inline-block;
    transition: background-color 0.5s ease;
}
.add-movie-container .file-upload-btn:hover {
    background-color: #2f7572;
}
.add-movie-container .file-name {
    margin-top: 0.5rem;
    color: #594F4F;
}

/* Login page styling */
.form-container.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.form-container.login h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #9DE0AD;
}
.form-container.login form {
    background-color: #E5FCC2;
    border: 3px solid #2f7572;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}
.form-container.login label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #594F4F;
}
.form-container.login input[type="text"],
.form-container.login input[type="password"],
.form-container.login input[type="submit"] {
    padding: 0.8rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    border: 3px solid #CCC;
    border-radius: 4px;
    background-color: #FDFDFD;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}
.form-container.login input[type="text"]:focus,
.form-container.login input[type="password"]:focus {
    border-color: #547980; 
    outline: none;
}
.form-container.login input[type="submit"] {
    background-color: #547980;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Anuphan';
}
.form-container.login input[type="submit"]:hover {
    background-color: #45ADA8;
}

/* reviewerList page styling */
.form-container.reviewer-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
}
.form-container.reviewer-filters form {
    background-color: #45ADA8;
    padding: 2rem;
    border: 3px solid #2f7572;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.form-container.reviewer-filters .form-row {
    margin-bottom: 1rem;
}
.form-container.reviewer-filters input[type="text"] {
    padding: 0.8rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    border: 3px solid #349c96;
    border-radius: 4px;
    background-color: #FDFDFD;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}
.form-container.reviewer-filters input[type="text"]:focus {
    border-color: #547980; 
    outline: none;
}
.form-container.reviewer-filters button[type="submit"] {
    padding: 0.8rem;
    margin-top: 1rem;
    font-size: 1rem;
    background-color: #547980;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.form-container.reviewer-filters button[type="submit"]:hover {
    background-color: #2f7572;
}
table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 2rem;
}
table th, table td {
    padding: 1rem;
    text-align: left;
    border: 3px solid #547980;
}
table th {
    background-color: #45ADA8;
    font-size: 1.2rem;
}
table td {
    font-size: 1.1rem;
}

/* movieList page styling  */
.form-container.movie-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.form-container.movie-filters form {
    background-color: #E5FCC2;
    border: 3px solid #2f7572;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    color: #2f7572;
}
.form-container.movie-filters input {
    padding: 0.8rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    border: 3px solid #349c96;
    border-radius: 4px;
    background-color: #FDFDFD;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}
.form-container.movie-filters input:focus {
    border-color: #547980; 
    outline: none;
}
.movie-filters .movie-filters-form #id_rating {
    padding: 0.8rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    border: 3px solid #349c96;
    border-radius: 4px;
    background-color: #FDFDFD;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}
.movie-filters .movie-filters-form #id_rating:focus {
    border-color: #547980; 
    outline: none;
}
.form-container.movie-filters h2 {
    font-size: 2rem;
    color: #547980;
    margin-bottom: 1rem;
}
.form-container.movie-filters .form-row {
    margin-bottom: 1rem;
}
.form-container.movie-filters button[type="submit"] {
    padding: 0.8rem;
    margin-top: 1rem;
    font-size: 1rem;
    background-color: #547980;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.form-container.movie-filters button[type="submit"]:hover {
    background-color: #9DE0AD;
}
.movie-filters-table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 2rem;
}
.movie-filters-table th, .movie-filters-table td {
    padding: 1rem;
    text-align: left;
    border: 3px solid #E5FCC2;
}
.movie-filters-table th {
    background-color: #9DE0AD;
    font-size: 1.2rem;
    color: #333333;
}
.movie-filters-table td {
    font-size: 1.1rem;
}
h1 {
    margin-top: 1rem;
    color: #E5FCC2;
}
hr {
    margin-top: 2rem;
    border: 0;
    border-top: 2px solid #ddd;
}

/* updateMovieForm page styling */
.update-movie-container {
    width: 50%;
    margin: 3rem auto;
    padding: 2rem;
    border: 2px solid #5a8b37;
    border-radius: 10px;
    background-color: #E5FCC2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.update-movie-container h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #365e52;
}
.update-movie-container .form-fields {
    margin-bottom: 1.5rem;
}

.update-movie-container label {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}
.update-movie-container input[type="text"],
.update-movie-container input[type="date"],
.update-movie-container input[type="number"],
.update-movie-container select,
.update-movie-container textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #258682;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.2s;
    margin-bottom: 1rem;
}
.update-movie-container input[type="text"]:focus,
.update-movie-container input[type="date"]:focus,
.update-movie-container input[type="number"]:focus,
.update-movie-container select:focus,
.update-movie-container textarea:focus {
    border-color: #5a8b37;
    outline: none;
}
.update-movie-container .buttons {
    display: inline-block; 
    margin-right: 1rem; 
}
.update-movie-container .button {
    display: inline-block; 
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #547980;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
}
.update-movie-container .button:hover {
    background-color: #456e64;
}
.update-movie-container .cancel-button {
    background-color: #cc4b4b;
}
.update-movie-container .cancel-button:hover {
    background-color: #b03e3e;
}
.update-movie-container input[type="file"] {
    display: none;
}
.update-movie-container .file-upload-btn {
    background-color: #547980;
    color: #FDFDFD;
    font-size: 1rem; 
    padding: 0.8rem 1.5rem; 
    border-radius: 4px; 
    cursor: pointer; 
    text-align: center;
    display: inline-block;
    transition: background-color 0.5s ease;
}
.update-movie-container .file-upload-btn:hover {
    background-color: #2f7572;
}
.update-movie-container .file-name {
    margin-top: 0.5rem;
    color: #594F4F;
}

/* deleteWatchlistForm page styling */
.remove-watchlist-container {
    text-align: center;
    padding: 1rem;
}
.remove-watchlist-container form {
    display: inline-block;
    margin: 1rem;
}
.remove-watchlist-container button,
.remove-watchlist-container input[type="submit"] {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background: #547980;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    margin-right: 1rem;
}
.remove-watchlist-container button:hover,
.remove-watchlist-container input[type="submit"]:hover {
    background-color: #466b73;
}
.remove-watchlist-container input[type="submit"]:nth-child(2) {
    background-color: #cc4b4b;
}
.remove-watchlist-container input[type="submit"]:nth-child(2):hover {
    background-color: #b03e3e;
}

/* deleteReviewForm page styling */
.delete-review-container {
    text-align: center;
    padding: 1rem;
}
.delete-review-container h1,
.delete-review-container h3 {
    color: #45ADA8;
    margin-bottom: 1rem;
}
.delete-review-container form {
    display: inline-block;
    margin: 1rem;
}
.delete-review-container button,
.delete-review-container input[type="submit"] {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #547980;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    margin-right: 1rem;
}
.delete-review-container button:hover,
.delete-review-container input[type="submit"]:hover {
    background-color: #466b73;
}
.delete-review-container input[type="submit"]:nth-child(2) {
    background-color: #cc4b4b;
}
.delete-review-container input[type="submit"]:nth-child(2):hover {
    background-color: #b03e3e;
}

/* updateReviewerForm page styling */
.update-reviewer-container {
    padding: 1rem;
    text-align: center;
}
.update-reviewer-container h1 {
    color: #E5FCC2;
    margin-bottom: 1rem;
}
.update-reviewer-container input[type="text"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #258682;
    border-radius: 5px;
    transition: border-color 0.2s;
    margin-bottom: 1rem;
}
.update-reviewer-container input[type="text"]:focus {
    border-color: #5a8b37;
    outline: none;
}
.update-reviewer-container .form-buttons {
    margin-top: 1rem;
}
.update-reviewer-container input[type="submit"],
.update-reviewer-container .cancel-button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #547980;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    margin-right: 1rem;
}
.update-reviewer-container input[type="submit"]:hover,
.update-reviewer-container .cancel-button:hover {
    background-color: #2f7572;
}
.update-reviewer-container .cancel-button {
    background-color: #cc4b4b;
}
.update-reviewer-container .cancel-button:hover {
    background-color: #b03e3e;
}
.update-reviewer-container input[type="file"] {
    display: none;
}
.update-reviewer-container .file-upload-btn {
    background-color: #547980;
    color: #FDFDFD;
    font-size: 1rem; 
    padding: 0.8rem 1.5rem; 
    border-radius: 4px; 
    cursor: pointer; 
    text-align: center;
    display: inline-block;
    transition: background-color 0.5s ease;
}
.update-reviewer-container .file-upload-btn:hover {
    background-color: #2f7572;
}
.update-reviewer-container .file-name {
    margin-top: 0.5rem;
    color: #FDFDFD;
}

/* updateReviewForm page styling */
.update-review-container {
    max-width: 600px;
    margin: 50 auto;
    padding: 2rem;
    background-color: #45ADA8;
    border: 3px solid #258682;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.update-review-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
}
.update-review-container #id_review_message,
.update-review-container #id_review_score {
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #258682;
    border-radius: 5px;
    transition: border-color 0.2s;
    width: 100%;
    margin-bottom: 1rem;
}
.update-review-container #id_review_message:focus,
.update-review-container #id_review_score:focus {
    border-color: #547980;
    outline: none;
}
.update-review-container .button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    background-color: #258682;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}
.update-review-container .button:hover {
    background-color: #1f6d61;
}
.update-review-container .cancel-button {
    background-color: #d9534f;
}
.update-review-container .cancel-button:hover {
    background-color: #c9302c;
}
.update-review-container #id_review_message {
    resize: vertical;
    min-height: 100px;
}
.update-review-container .form-fields {
    margin-bottom: 1rem;
}


/* top3Movies page styling */
.top-movies-container {
    max-width: 1100px;
    margin: 30 auto;
    padding: 20px;
    background-color: #9DE0AD;
    border-radius: 10px;
    border: 3px solid #258682;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.top-movies-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
.movie-list {
    list-style: none;
    padding: 0;
}
.movie-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #2f7572;
}
.movie-rank {
    font-size: 3em;
    font-weight: bold;
    color: #333;
    text-align: center;
    width: 60px;
}
.movie-poster {
    padding-left: 10px;
    padding-right: 10px;
}
.movie-poster img {
    max-width: 150px;
    border-radius: 8px;
    border: 3px solid #FDFDFD;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.movies-details {
    display: flex;
    gap: 40px;
    align-items: center;
    border: 2px solid #258682;
    padding: 20px;
    border-radius: 20px;
    background-color: #E5FCC2;
    color: #547980;
}
.movies-details h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #000;
}
.movies-details p {
    margin: 5px 0;
}
.movies-details strong {
    color: #000;
}