<html></html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/static/hw3Styles.css">
    </head>
    <body>
        <div>
            <h1> Hello this is the about page! </h1>
        </div>
        <div>
            <h3>
                This app is dedicated to the quotes and history of Ben Franklin (1706-1790), who was an American who made 
                significant contributions to various fields including science, politics, and literature. Born in Boston, Massachusetts, 
                Franklin was the fifteenth of seventeen children. He was largely self-educated and began working as an apprentice to his 
                brother James, a printer. Franklin was a key figure in the American Enlightenment and a Founding Father of the United States. 
                He played a crucial role in the drafting of the Declaration of Independence and the U.S. Constitution. He also helped secure 
                French support for the American Revolution, which was instrumental in the colonies' victory over Britain. The creator of this
                really likes Ben Franklin because of his commitment to science and the betterment of America for the people.
            </h3>
        </div>
    </body>
</html>