<html></html>
    <head>
        <title>Quote</title>
        <link rel="stylesheet" href="/static/hw3Styles.css">
    </head>
    <body>
        <div>
            <h1> Hello this is the quote page! </h1>
        </div>
        <div class="center-div">
            <img src="{{image}}" alt="Author of Quote Image" width="500" height="400">
        </div>
        <div>
            <p> 
                {{quote}}  
            </p>
            <p>
                - Ben Franklin
            </p>
        </div>
    </body>
</html>