{% load static %}
<html>
    <head>
        <title>Reviews & Ratings</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anuphan">
        <link rel="stylesheet" href="/static/finalProjectStyles.css">
    </head>
    
    <body>
        <header>
            <h1>Movie Ratings & Reviews</h1>
        </header>

        <nav class="navbar">
            <ul class="navbar-nav">
                <!-- these links do not require a user to be signed in -->
                <li class="nav-item"><a href="{% url 'show_all' %}">All Movies</a></li>
                <li class="nav-item"><a href="{% url 'show_all_reviewers' %}">All Reviewers</a></li>
                <li class="nav-item"><a href="{% url 'show_all_reviews' %}">All Reviews</a></li>
                <li class="nav-item"><a href="{% url 'add_movie' %}">Add Movie</a></li>
                <li class="nav-item"><a href="{% url 'create_reviewer' %}">Register Reviewer</a></li>
                <!-- only show the links that need an authenticated user if signed in -->
                {% if request.user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'create_review' %}">Create New Review</a></li>
                    <li class="nav-item"><a href="{% url 'add_to_watchlist' %}">Add to Watchlist</a></li>
                    <li class="nav-item"><a href="#" class="nav-link" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
                    <form id="logout-form" method="POST" action="{% url 'logout' %}" style="display: none;">
                        {% csrf_token %}
                    </form></li>
                {% else %}
                    <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login</a></li>
                {% endif %}
                <li class="nav-item user-info">
                    {% if request.user.is_authenticated %} <span>Logged in: {{ request.user }}</span> {% else %} Not logged in.{% endif %}</li>
            </ul>
        </nav>
    {% block content %}
    {% endblock %}    
    </body>
</html>
