{% extends 'movie_review/base.html' %}
{% block content %}

<div class="form-container register-reviewer">
    <!-- Page Header -->
    <div class="reviewer-text">
        <h1>Register Reviewer</h1>
    </div>
    
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Display form fields with labels from CreateReviewerForm -->
        <div>
            <h2>Reviewer Details</h2>
        </div>
        <div>
            <!-- Render the first name input field from the form -->
            <label for="id_first_name">First Name:</label>
            {{ form.first_name }}
        </div>
        <div>
            <!-- Render the last name input field from the form -->
            <label for="id_last_name">Last Name:</label>
            {{ form.last_name }}
        </div>
        <div>
            <!-- Render the email input field from the form -->
            <label for="id_email">Email:</label>
            {{ form.email }}
        </div>
        <div>
            <label for="id_profile_img">Profile Image:</label>
            <!-- Custom file input trigger button -->
            <label for="id_profile_img" class="file-upload-btn">Upload Profile Image</label>
            {{ form.profile_img }}
            <!-- Display selected file name after upload -->
            <div class="file-name" id="file-name"></div>
        </div>
        <!-- Display form fields from UserCreationForm for user account creation -->
        <div>
            <h2>Account Information</h2>
        </div>
        <div>
            <!-- Render the username input field from the form -->
            <label for="id_username">Username:</label>
            {{ user_creation_form.username }}
        </div>
        <div>
            <!-- Render the first password input field from the form -->
            <label for="id_password1">Password:</label>
            {{ user_creation_form.password1 }}
        </div>
        <div>
            <!-- Render the second password input field from the form -->
            <label for="id_password2">Confirm Password:</label>
            {{ user_creation_form.password2 }}
        </div>
        <!-- Render the Submit button -->
        <div>
            <input type="submit" value="Create Reviewer">
        </div>
    </form>
</div>

<!-- Javascript for the uploded file name -->
{% block extra_js %}
<script>
    // Show the selected file's name when a file is chosen
    document.getElementById('id_profile_img').addEventListener('change', function() {
        var fileName = this.files[0] ? this.files[0].name : '';
        document.getElementById('file-name').textContent = "Uploaded: " + fileName;
    });
</script>
{% endblock %}
{% endblock %}