{% extends 'movie_review/base.html' %}
{% block content %}

<div class="add-movie-container">
    <h1>Add a new movie</h1>
    <!-- Defines the form for adding a new Movie to the database -->
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="id_title">Title:</label>
            {{ form.title }}
        </div>
        <div>
            <label for="id_genre">Genre:</label>
            {{ form.genre }}
        </div>
        <div>
            <label for="id_rating">Rating:</label>
            {{ form.rating }}
        </div>
        <div>
            <label for="id_director">Director:</label>
            {{ form.director }}
        </div>
        <div>
            <label for="id_release_date">Release Date (YYYY-MM-DD):</label>
            {{ form.release_date }} 
        </div>
        <div>
            <label for="id_description">Description:</label>
            {{ form.description }}
        </div>
        <div>
            <label for="id_poster_img">Poster Image:</label>
            <!-- Custom file input trigger button -->
            <label for="id_poster_img" class="file-upload-btn">Upload Poster Image</label>
            {{ form.poster_img }}
            <!-- Display selected file name after upload -->
            <div class="file-name" id="file-name"></div>
        </div>
        <div>
            <label for="id_runtime">Runtime (Minutes):</label>
            {{ form.runtime }}
        </div>
        
        <div>
            <input type="submit" value="Create Movie">
        </div>
    </form>
</div>

<!-- added Javascript for the uploded file name -->
{% block extra_js %}
<script>
    // Show the selected file's name when a file is chosen
    document.getElementById('id_poster_img').addEventListener('change', function() {
        var fileName = this.files[0] ? this.files[0].name : '';
        document.getElementById('file-name').textContent = "Uploaded: " + fileName;
    });
</script>
{% endblock %}
{% endblock %}