{% extends 'movie_review/base.html' %}
{% block content %}

<div class="remove-watchlist-container">
    <!-- Render text to the user showing the watchlist entry their attempting to remove -->
    <div>
        <h1>Remove from Watchlist</h1>
        <h3>
            Are you sure you want to remove {{watchlist.movie}} from your watchlist?
        </h3>
    </div>
    
    <div>
        <!-- Render the form to confirm the deletion of the watchlist entry -->
        <form method="POST" action="">
            {% csrf_token %}
            <!-- Render the submit button -->
            <input type="submit" value="Confirm Delete" class="button">
        </form>
        
        <form method="get" action="{% url 'reviewer' watchlist.reviewer.pk %}">
            <!-- Render the cancel button -->
            <input type="submit" value="Cancel" class="button"> 
        </form>
    </div>
</div>

{% endblock %}