{% extends 'movie_review/base.html' %}
{% block content %}

<div class="form-container reviewer-filters">
  <h1 class="reviewer-text">Reviewer Filters</h1>
  <form class="black-text" method="get">
    {{ form.as_p }}
    <button type="submit">Filter</button>
  </form>
  
  <h1 class="reviewer-text">Reviewer List</h1>
  <table>
    <thead>
      <tr>
        <th class="black-text">Name</th>
      </tr>
    </thead>
    <tbody>
      {% for reviewer in reviewers %}
        <tr>
          <td><a class="reviewer-edit" href="{% url 'reviewer' reviewer.pk %}"><strong>{{ reviewer.first_name }} {{ reviewer.last_name }}</strong></a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No reviewers found matching the criteria.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}