{% extends 'movie_review/base.html' %}
{% load static %}

{% block content %}
<main class="grid-container">
    <!-- If the user is on their own reviewer page give the option to update their information -->
    <div>
        {% if request.user.is_authenticated and request.user == reviewer.user %}
            <a href="{% url 'update_reviewer' %}">Update Reviewer</a>
        {% endif %}
    </div>

    <!-- Display for the Reviewers's information -->
    <article class="featured">
        <div>
            <h2>
                {{ reviewer.first_name }} {{ reviewer.last_name }} <br>
                <img src="{{ reviewer.profile_img.url }}" alt="Profile Image" style="max-width: 400px; max-height: 400px;"> 
            </h2>
            Average Review Score: {{ reviewer.average_rating|floatformat:2 }} / 5 <br>
            Email: {{reviewer.email}}
        </div>
    </article>

    <!-- Display for the Reviews by this Reviewer -->
    <div>
        <h2>Reviews:</h2>
        {% for r in reviewer.get_reviews %}
        <article>
            <div>
                {{r.movie}}: "{{ r.review_message }}" [Score: {{r.review_score}}/5], at {{ r.review_date }}
                {% if request.user.is_authenticated and request.user == reviewer.user %}
                    <a href="{% url 'delete_review' r.pk %}">Delete Review</a>
                    <a href="{% url 'update_review' r.pk %}">Update Review</a>
                {% endif %}
            </div><br>
        </article>
        {% empty %}
        <p>No reviews to display.</p> 
        {% endfor %}
    </div>

    <!-- Displays this Reviewer's Watchlist -->
    <div>
        <h2>Watchlist:</h2>
        {% for w in reviewer.get_watchlist %}
        <article>
            <div>
                {{w.movie}}
                {% if request.user.is_authenticated and request.user == reviewer.user %}
                    <a href="{% url 'delete_watchlist' w.pk %}">Remove</a>
                {% endif %}
            </div>
        </article>
        {% empty %}
        <p>No Movies Watched.</p> 
        {% endfor %}
    </div>
</main>
{% endblock %}