{% extends 'movie_review/base.html' %}
{% load static %}

{% block content %}
<main class="grid-container">
    <!-- Display for the Movie's information -->
    <article class="featured">
        <div>
            <h2>
                {{ movie.title }} <br>
                <img src="{{ movie.poster_img.url }}" alt="Poster Image" style="max-width: 400px; max-height: 400px;"> <br>
                Genre: {{ movie.genre }} <br>
                Rating: {{ movie.rating }} <br>
                <br>
                Director: {{ movie.director }} <br>
                Release Date: {{ movie.release_date }} <br>
                <br>
                Description: {{ movie.description }} <br>
                Runtime: {{ movie.runtime }} Minutes <br>
            </h2>
        </div>
    </article>

    <!-- Display for the Reviews for each movie -->
    <div>
        <h2>Reviews:</h2>
        {% for p in profile.get_statusMessages %}
        <article>
            <div>
                <strong>"{{ p.message }}", at {{ p.timestamp }}</strong>
                {% if request.user.is_authenticated and request.user == profile.user %}
                    <a class="button" href="{% url 'delete_status' p.pk %}" style="font-size: 0.8em; padding: 5px 10px;">Delete</a>
                    <a class="button" href="{% url 'update_status' p.pk %}" style="font-size: 0.8em; padding: 5px 10px;">Update</a>
                {% endif %}
                {% if p.get_images %}
                    <div>
                        {% for img in p.get_images %}
                        <img src="{{ img.image_file.url }}" alt="Image for status message" style="max-width: 200px; max-height: 200px;">
                        {% endfor %}
                    </div>
                {% endif %}
            </div><br><br>
        </article>
        {% empty %}
        <p>No reviews to display.</p> 
        {% endfor %}
    </div>
</main>
{% endblock %}