{% extends 'movie_review/base.html' %}
{% load static %}
{% block content %}

<main class="movie-container">
    <!-- Update Movie Link -->
    <div>
        <strong><a href="{% url 'update_movie' movie.pk %}">Update Movie</a></strong>
    </div>

    <!-- Movie Details -->
    <section class="movie-details">
        <div class="poster-section">
            <h2 class="movie-title">
                {{ movie.title }}
            </h2>
            <p class="movie-rating">
                Reviewer's Score: {{ movie.average_rating|floatformat:2 }} / 5
            </p>
            <img class="poster-img" src="{{ movie.poster_img.url }}" alt="Poster Image">
        </div>
        <div class="info-section">
            <p><strong>Genre:</strong> {{ movie.genre }}</p>
            <p><strong>Rating:</strong> {{ movie.rating }}</p>
            <p><strong>Director:</strong> {{ movie.director }}</p>
            <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
            <p><strong>Runtime:</strong> {{ movie.runtime }} Minutes</p>
            <p><strong>Description:</strong> {{ movie.description }}</p>
        </div>
    </section>

    <!-- Movie Reviews -->
    <div class="reviews-section">
        <h2>Reviews:</h2>
        {% for m in movie.get_reviews %}
        <div class="review-entry">
            <strong><a class="reviewer-edit" href="{% url 'reviewer' m.reviewer.pk %}">{{m.reviewer}}'s</a></strong> Review [{{m.review_score}}/5]: "{{ m.review_message }}" at {{ m.review_date }}
        </div>
        {% empty %}
        <p>No reviews.</p>
        {% endfor %}
    </div>

    <!-- Watchlist Section -->
    <div class="watchlist-section">
        <h2>Reviewers who have watched:</h2>
        {% for w in movie.get_watched %}
        <div class="watchlist-entry">
            <a class="reviewer-edit-movie" href="{% url 'reviewer' w.pk %}">
                <strong>{{w.first_name}} {{w.last_name}}</strong>
            </a>
        </div>
        {% empty %}
        <p>Nobody has Watched.</p>
        {% endfor %}
    </div>
</main>

{% endblock %}