{% extends 'movie_review/base.html' %}
{% block content %}

<main class="grid-container">
    <div class="all-reviews">
        <h1>All Reviews:</h1>
    </div>
    <!-- Shows all reviews that have been added to the database and links to individual profile pages as well as the movies-->
    <div class="reviews-grid">
        {% for r in reviews %}
        <article class="reviews-entry">
            <h2> 
                <a href="{% url 'reviewer' r.reviewer.pk %}"> {{ r.reviewer }}'s</a>
                review of 
                <a href="{% url 'movie' r.movie.pk %}"> {{ r.movie }} </a>
            </h2>
            <h3>
                Score: {{r.review_score}}/5 <br>
                Review: {{r.review_message}} <br>
                Reviewed at: {{r.review_date}}
            </h3> 
        </article>
        {% endfor %}
    </div>
</main>
{% endblock %}