{% extends 'movie_review/base.html' %}
{% load static %}

{% block content %}
<main class="grid-container">
    <!-- Display for the Movie's information -->
    <article class="featured">
        <div>
            <h2>
                {{ movie.title }} <br>
                <img src="{{ movie.poster_img.url }}" alt="Poster Image" style="max-width: 400px; max-height: 400px;"> <br>
                Genre: {{ movie.genre }} <br>
                Rating: {{ movie.rating }} <br>
                <br>
                Director: {{ movie.director }} <br>
                Release Date: {{ movie.release_date }} <br>
                <br>
                Description: {{ movie.description }} <br>
                Runtime: {{ movie.runtime }} Minutes <br>
            </h2>
        </div>
    </article>

    <!-- Display for the Reviews for each movie -->
    <div>
        <h2>Reviews:</h2>
        {% for m in movie.get_reviews %}
        <article>
            <div>
                <strong>{{m.reviewer}}'s Review: "{{ m.review_message }}" [Score: {{m.review_score}}/5], at {{ m.review_date }}.</strong>
            </div>
        </article>
        {% empty %}
        <p>No reviews.</p> 
        {% endfor %}
    </div>

    <!-- Displays the Reviewers who have this movie in their watchlist -->
    <div>
        <h2>Reviewers who have watched:</h2>
        {% for w in movie.get_watched %}
        <article>
            <div>
                {{w.first_name}} {{w.last_name}}<br>
            </div>
        </article>
        {% empty %}
        <p>Nobody has Watched.</p> 
        {% endfor %}
    </div>
</main>
{% endblock %}