{% extends 'movie_review/base.html' %}
{% block content %}

<div class="top-movies-container">
    <h1>Top Movies</h1>
    <ul class="movie-list">
        {% for movie in movies %}
            <li class="movie-item">
                <div class="movie-rank">
                    <!-- for the number ranking next to each movie -->
                    <span>{{ forloop.counter }}.</span>
                </div>
                <div class="movie-poster">
                    <!-- link back to movie's page -->
                    <a href="{% url 'movie' movie.pk %}"><img src="{{ movie.poster_img.url }}" alt="{{ movie.title }} poster"></a>
                </div>
                <!-- display movie's information --> 
                <div class="movies-details">
                    <!-- link back to movie's page -->
                    <a href="{% url 'movie' movie.pk %}"><h2>{{ movie.title }}</h2></a>
                    <p><strong>Review Score:</strong> {{ movie.average_score|floatformat:2 }}</p>
                    <p><strong>Genre:</strong> {{ movie.genre }}</p>
                    <p><strong>Rating:</strong> {{ movie.rating }}</p>
                    <p><strong>Director:</strong> {{ movie.director }}</p>
                    <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
                    <p><strong>Runtime:</strong> {{ movie.runtime }} minutes</p>
                    
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}